/* Write your code here. */

.bg-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: "Roboto";
  font-size: 35px;
  font-weight: bold;
}
.box-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.small-box {
  height: 30vh;
  width: 20vw;
  font-family: "roboto";
  font-size: 20px;
  background-color: #fbbf24;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.medium-box {
  height: 50vh;
  width: 30vw;
  font-family: "roboto";
  font-size: 20px;
  background-color: #38bdf8;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.large-box {
  height: 75vh;
  width: 40vw;
  font-family: "roboto";
  font-size: 20px;
  background-color: #ec4899;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
